
<!DOCTYPE html>
<html lang="de">
<!--Im Head werden allegemeine einstellungen zur Webseite festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der Teitel erscheint im Browser-TAB-->
    <title>N27 - About</title>
</head>
<!--Im Body steht der inhalt der Webseite, also alles, was im Browser angezeigt wird.-->
<body>
    <!--Überschrift der Größe 1-->
   <h1 style="color: #6e2fa1">Über uns</h1>
   <ul>
       <li><em><strong>E-Mail:</strong></em> n27bank@support.de</li>
       <li><em><strong>Anschrift:</strong></em></li>
       <li><em><strong>Sitz:</strong></em></li>
       <li><em><strong>Telefonnummer für Support:</strong></em></li>
       <li><em><strong>Bankleitzahl:</strong></em></li>
       <li><em><strong>Unternehmensname und Rechtsform:</strong></em></li>
       <li><em><strong>Disclamer:</strong></em></li>
   </ul>
</body>
</html>