<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27-Kreditrechner</title>
</head>
<body>
    
    <div class="rahmen">
        <div class="kopf">
            <h1> <N27-Kreditrechner></N27-Kreditrechner></h1>            
        </div>
        
        <div class="navigationsleiste">            
            <a href="/">
                <i class="fa fa-home fa-2x" title="Home" aria-hidden="true"></i>
            </a> --
            <a href="/profile">
                <i class="fa fa-user fa-2x" title="Profile" aria-hidden="true"></i>
            </a>   --
            <a href="/about">
                <i class="fa fa-info fa-2x" title="About us" aria-hidden="true"></i>
            </a>   --
            <a href="/support">
                <i class="fa fa-medkit fa-2x" title="Support" aria-hidden="true"></i>
            </a> --
            <a href="/login">
                <i class="fa fa-sign-out fa-2x" title="Log Out"></i>
            </a> --
    
        </div>
        
        

        <div class="inhaltsbereich">
            
            <form method="post">
                <label for="text"> Gewünschter Kreditbetrag:</label><br>
                <input type="number" name="Kreditbetrag" value= <%= Kreditbetrag %> <br>
                <label for="text"> Gewünschter Zinssatz:</label><br>
                <input type="number"  name="Zinssatz" value= <%= Zinssatz %> <br>
                <label for="text">Gewünschte Laufzeit:</label><br>
                <input type="number" name="Laufzeit" value= <%= Laufzeit %> <br>
                <button class="login" formaction="/kreditrechner">Kredit berechnen</button>
              </form>
              
        </div>
          
        

        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>