<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27-Profil bearbeiten</title>
</head>
<div class="rahmen">
    <div class="kopf">
        <h1> Mein Account</h1>            
    </div>
    <div class="navigationsleiste">            
        <a href="/">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </a> --
        <a href="/profile">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>   --
        <a href="/about">
            <i class="fa fa-info fa-2x" aria-hidden="true"></i>
        </a>   --
        <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
    </div>

    <form>
        <label for="fname">Vorname:</label><br>
        <input type="text" id="fname" name="fname" value= <%= Vorname %> readonly><br>
        <label for="lname">Nachname:</label><br>
        <input type="text" id="lname" name="lname" value= <%= Nachname %> readonly> <br>
        <label for="fname">Email:</label><br>
        <input type="email" name="Mail" value= <%= Mail %> ><br>
        <label for="fname">Rufnummer:</label><br>
        <input type="tel" name="Rufnummer" value= <%= Rufnummer %> ><br>
        <button class="login" formaction="/login">Änderung Speichern</button>
      </form>
    
      </html> 